<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name">

      <label for="language">Language</label>
      <input type="text" id="language" name="language">

      <label for="college">College</label>
      <select id="college" name="college">
        <option value="IPU">IPU</option>
        <option value="DTU">DTU</option>
        <option value="IIT">IIT</option>
        <option value="IIIT">IIIT</option>
        <option value="NSUT">NSUT</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>